body{background-color: #33b2fc;}
#contador{text-align: center;font-family:Dancing Script; font-size: 25px;color: rgb(36, 102, 159);}
#Festejo{text-align: center;font-family:Dancing Script;font-size: 50px;color:wheat;background-color: green;padding: 65px;border-radius: 16px;} 

  .carrusel-contenedor {
      position: relative;
      width: 400px;
      height: 400px;
      overflow: hidden;
      border-radius: 40px;
      background: green;
      align-self: center;
      margin: 0 auto;
    }

    .carrusel {
      display: flex;
      transition: transform 0.5s ease;
      width: 100%;
      height: 100%;
    }

    .carrusel img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      flex-shrink: 0;
    }

    .flecha {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
      border: none;
      color: white;
      font-size: 24px;
      padding: 8px;
      cursor: pointer;
      border-radius: 50%;
      z-index: 10;
    }

    .izquierda {
      left: 10px;
    }

    .derecha {
      right: 10px;
    }
.dancing-script-variable {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.parrafo{font-size: 30px;color: blanchedalmond; text-align: center;}
.tabla{text-align: center;font-family:Dancing Script; font-size: 25px;color: rgb(36, 102, 159);}
.encabezado{text-align: center;font-family:Dancing Script; font-size: 35px;color: rgb(230, 235, 239);}
.ubicacion{ size: cover;width: 100%;
      height: auto;}
 .encuesta {
      background: white;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      text-align: center;}


    label {
      display: block;
      font-size: 25px;
      margin: 10px 0;
    }

    button {
      margin-top: 15px;
      padding: 10px 20px;
      font-size: 16px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }

    #mensaje {
      margin-top: 2'px;
      font-weight: bold;
    }

